<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="duynn.gotogether">

    <uses-permission android:name="android.permission.INTERNET"/> <!-- Always include this permission -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> <!-- Include only if your app benefits from precise location access. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--
 Required only when requesting background location access on
       Android 10 (API level 29) and higher.
    -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
            android:name=".config.di.MyApplication"
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.GoTogether"
            android:usesCleartextTraffic="true"
            tools:targetApi="31">
        <activity
                android:name=".ui_layer.activity.chat.ChatActivity"
                android:exported="false"/>
        <activity
                android:name=".ui_layer.activity.execute_route.client_trip.PassengerActivity"
                android:exported="false"
                android:label="Danh sách hành khách"
                android:theme="@style/Theme.AppCompat.Dialog"/>
        <activity
                android:name=".ui_layer.activity.execute_route.DriverFinishActivity"
                android:exported="false"
                android:label="Hoàn thành chuyến đi"
                android:theme="@style/Theme.AppCompat.Dialog"/>
        <activity
                android:name=".ui_layer.activity.execute_route.PassengerFinishActivity"
                android:excludeFromRecents="true"
                android:exported="false"
                android:label="Hoàn thành chuyến đi"
                android:launchMode="singleTask"
                android:taskAffinity=""
                android:theme="@style/Theme.AppCompat.Dialog"/>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="${MAPS_API_KEY}"/>

        <activity
                android:name=".ui_layer.activity.execute_route.MapsTestActivity"
                android:exported="false"
                android:label="@string/title_activity_maps_test"/>
        <activity
                android:name=".ui_layer.activity.trip.PassengerTripDetailActivity"
                android:exported="false"/>
        <activity
                android:name=".ui_layer.activity.execute_route.Direc2pointActivity"
                android:exported="false"/>
        <activity
                android:name=".ui_layer.activity.trip.DriverTripDetailActivity"
                android:exported="false"/>
        <activity
                android:name=".ui_layer.activity.search.SearchResultActivity"
                android:exported="false"/>
        <activity
                android:name=".ui_layer.activity.profile.AddTransportActivity"
                android:exported="false"/>
        <activity
                android:name=".ui_layer.activity.authen.CongratulationActivity"
                android:exported="false"
                android:theme="@style/Theme.GoTogether.PopMe"/>
        <activity
                android:name=".ui_layer.activity.authen.RegisterActivity"
                android:exported="false"/>
        <activity
                android:name=".ui_layer.activity.get_place_goong.GetPlaceGoongActivity"
                android:exported="true">
        </activity>
        <activity
                android:name=".ui_layer.activity.publish_route.PublishActivity"
                android:exported="true">
        </activity>
        <activity
                android:name=".ui_layer.activity.get_place.GetLocationFromMapActivity"
                android:exported="false"
                android:label="@string/title_activity_get_location_from_map"/>
        <activity
                android:name=".ui_layer.activity.get_place.GetPlaceActivity"
                android:exported="false"/>
        <activity
                android:name=".ui_layer.activity.execute_route.ResultActivity"
                android:exported="false"/>

        <service
                android:name=".ui_layer.service.TrackerService"
                android:exported="false"
                android:foregroundServiceType="location"/>
        <service
                android:name=".ui_layer.service.TrackerForPassengerService"
                android:exported="false"
                android:foregroundServiceType="location"/>

        <receiver
                android:name=".ui_layer.activity.execute_route.geofence.GeofenceBroadcastReceiver"
                android:enabled="true"
                android:exported="true"/>

        <activity
                android:name=".ui_layer.activity.PermissionActivity"
                android:exported="true"/>
        <activity
                android:name=".ui_layer.activity.execute_route.TrackingMapsActivity"
                android:exported="true"
                android:label="@string/title_activity_tracking_maps"/>
        <activity
                android:name=".ui_layer.activity.execute_route.TrackingMapsForPassengerActivity"
                android:exported="true"
                android:label="@string/title_activity_tracking_maps"/>
        <activity
                android:name=".ui_layer.activity.publish_route.GetDirectionMapsActivity"
                android:exported="true"
                android:label="@string/title_activity_get_direction_maps"/>
        <activity
                android:name=".ui_layer.activity.home.HomeActivity"
                android:exported="true">
        </activity>
        <activity
                android:name=".ui_layer.activity.authen.LoginActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".MainActivity"
                android:exported="true"/>

        <service
                android:name=".ui_layer.service.MyFirebaseMessagingService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>